.App{
  text-align: center;
  max-height: 100vh;
  justify-content: center;
  background-color: rgb(195, 249, 223);
  display: flex;
  flex-flow: column;
  justify-content: stretch;
}

h1 {
  color:  orangered;
}

.header {
  background-color: #c2eae3;
  text-decoration-color: rgb(255, 114, 53);
  text-emphasis-style: bold;
  min-height: auto;
  max-height: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  background-color: rgb(195, 249, 223);
  max-height: 5vh;
  margin-top: 10vh;
  display: flex;
  position: bottom;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(238, 71, 210);
}

.eyes {
  align-content: space-around;
  display: flex;
  flex-flow: row;
  padding: 50px;
  justify-content: space-evenly;
  justify-items: center;
  text-align: center;
  min-height: auto;
  background-color: rgb(195, 249, 223);
}

.nose {
  margin: 20px;
  background-color: rgb(195, 249, 223);
}

.eye {
  background-color: rgb(254, 253, 254);
  display: flex;
  shape-rendering: crispEdges;
  height: 90px;
  width: 100px;
  margin: 20 auto;
  justify-content: center;
  justify-self: space-around;
  shape-outside: padding-box;
  shape-rendering: auto;
  border-radius: 36px;
  border-width: 10px;
  border-color: pink;
  border-style: double;
  padding: 40px;
}

.pupil {
  background-color: rgb(65, 65, 184);
  color: rgb(216, 39, 39);
  border-radius: 33px;
}

.mouth-container {
  margin-bottom: 20px;
  background-color: rgb(195, 249, 223);
}

.mouth {
  height: auto;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  align-content: center;
  justify-content: center;
  display: flex;
  padding: 20px;
  margin-bottom: 10;
  border-style: double;
  border-radius: 15px;
  background-color: black;
  border-color: pink;
  border-width: 1vh;
  border-radius: 4px 4;
}

.meme {
  align-content: center;
  display: flex;
  height: auto;
  width: auto;
  background-color: black;
  color: pink;
  padding: 10px;
  margin: 15px;
  text-align: center;
}

img {
  width: auto;
  height: auto;
  max-height: 30vh;
  max-width: 200px;
}

.button {
  color: white;
  align-self: center;
  flex-wrap: column;
  text-align: center;
  border-radius: 45px;
  height: 10vh;
  width: 10vh;
  background-color: rgb(155, 29, 88);
}
