.App{
  text-align: center;
  max-height: 450px;
  justify-content: center;
  background-color: rgb(139, 157, 159);
  display: flex;
  flex-flow: column;
  justify-content: stretch;
}

.header {
  background-color: #9a61ac;
  min-height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  background-color: #b42222;
  min-height: 60px;
  display: flex;
  position: bottom;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.eyes {
  align-content: space-around;
  display: flex;
  flex-flow: row;
  padding: 50px;
  justify-content: space-evenly;
  justify-items: center;
  text-align: center;
  min-height: auto;
  bacground-color: black;
}

.nose {
  margin: 20px;
}

.eye {
  background-color: rgb(179, 96, 204);
  display: flex;
  shape-rendering: crispEdges;
  height: 90px;
  width: 100px;
  margin: 20 auto;
  justify-content: center;
  justify-self: space-around;
  shape-outside: padding-box;
  shape-rendering: auto;
  border-radius: 36px;
  border-width: 10px;
  border-color: pink;
  border-style: double;
  padding: 40px;
}

.pupil {
  background-color: rgb(17, 8, 77);
}

.mouth-container {
  margin-bottom: 20px;
  background-color: rgb(137, 125, 125);

}


.mouth {
  height: auto;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  align-content: center;
  justify-content: center;
  display: flex;
  padding: 20px;
  margin-bottom: 10;
  border-style: double;
  background-color: rgb(21, 25, 154);
  border-color: orangered;
  border-width: 1vh;
  border-radius: 4px 4;
}

.meme {
  align-content: center;
  display: flex;
  height: auto;
  width: auto;
  background-color: black;
  color: pink;
  margin: 15px;
  text-align: center;
}

img {
  width: auto;
  height: auto;
  max-height: 200px;
  max-width: 200px;
}

.button {
  color: grey;
  align-self: center;
  flex-wrap: column;
  text-align: center;
  border-radius: 45px;
  height: 10vh;
  width: 10vh;
  background-color: rgb(155, 29, 88);
}


